

  
  
  
 .bg-white{

 } 
.display{
	display: flex;
	align-items: center;
	text-decoration: none;
;
}
.text-decoration-b{
  color: bisque;
}
.link-beige{
	color: bisque;
}
.h-body{
	background: bisque;
	margin-top: 14px;

}
.body-form{
	margin: 37px;
}
.font-size{
	font-size: 284%;
	width: 505px;
	padding: 10px;
}
.text-form{

}
.vid-house{
	display: inline-block;
	margin-left: 110px;
	width: 54%;
	background-color: white;
}
.vid1{
	width: 297px;
}
.vid2{
	width: 55%;
}
.vid3{
	width: 55%;
}
.video-house2{
	display: inline-block;
	margin-left: 209px;
	width:auto ;
	background-color: white;
}
.colsizeh{
	width: 104%;
	height: 70px;
	padding: 0 0 0 0 !important;
	background: cadetblue;
	border-bottom: 2px solid rgba(255, 192, 76, 80%);
	position: relative;
	margin-left: -11px;
	margin-top: -9px;
}
.flexc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
	height: 20%;
	width: 6%;
}
.paddinglogo{
	padding-right: 10%;
	padding-left: 14px;
}
.bg-cadet-blue{
    background: cadetblue;
    height: 320px;
    width: 102%;
	margin-top: 20%;
	margin-left: -17px;
}
.text-cadet-blue{
	color: cadetblue;
	background-color: bisque;
}
.text-beige{
	color: bisque;
	background-color: cadetblue;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.formulaire{
	background-color: bisque;
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
form .font-blue {
  font-size: 20px;
}
form .separation {
  width: 100%;
  height: 1px;
  background-color: cadetblue;
}
form .body-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  background-color: cadetblue;
}
form .corps-formulaire .crew {
  position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form .body-form .left .crew .b-cadetblue {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid white;
  outline-color: cadetblue;
  border-radius: 5px;
}
form .body-form .left .crew i {
  position: absolute; /* positionné par rapport à son parent le plus proche positionné */
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: cadetblue;
}
form .body-form .right {
  margin-left: 40px;
}
form .body-form .right .crew {
  height: 100%;
}
form .body-form .right .crew textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid #747cdf;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 72%;
}
form .foot-form .send {
  margin-top: 10px;
  background-color: bisque;
  color: cadetblue;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
.send{
	margin-top: 94px;
}
form .foot-form .send:hover {
  transform: scale(1.05);
}
.formulaire{
	background-color: bisque;
	display: flex;
}
.crew{
  display: grid;
  text-align: center;
}
.left{
display:block ;
background-color: bisque;
}
.grid{
  display: grid;
  background-color: bisque;
}


@media screen and (max-width: 920px) {
  form .body-form .right {
    margin-left: 0px;
  }
}
