.bg-beige {
    color: #ffebcd;
}

.title-black {
    color:#000000;
}

.title-brown {
    color: #800000;
}

.text-black {
    color: #000000;
}

.nav-red {
    color: #ff0000;
}

.title-black {
    color: black;
}